{% extends 'base.html.twig' %}

{% block title %}{{ setting[0].title }} | Üye Girişi{% endblock %}
{% block description %}{{ setting[0].description }}{% endblock %}
{% block keywords %}{{ setting[0].keywords }}{% endblock %}

{% block body %}
    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="fh5co-contact-info">
                        <h3>Henüz üye değil misiniz?</h3>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-7 col-md-push-1">
                            <a href="{{ url('new_user') }}" value="" class="btn btn-primary">Hemen Üye Ol</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 animate-box">
                    <h3>Giriş Yap</h3>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="fname">E-posta</label>
                            <input type="email"  value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="E-posta" required autofocus>
                        </div>
                        <div class=" form-group">
                            <label for="lname">Şifre</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Şifre" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="/profile"/>

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-lg btn-primary" type="submit">
                            Giriş Yap
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% include 'home/_footer.html.twig' %}{% endblock %}
