{% extends 'base.html.twig' %}

{% block title %}{{ setting[0].title }} | İletişim{% endblock %}
{% block description %}{{ setting[0].description }}{% endblock %}
{% block keywords %}{{ setting[0].keywords }}{% endblock %}

{% block body %}
<body>

<div class="fh5co-loader"></div>

<div id="page">

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>BİZE ULAŞIN</h1>
                           <!-- <h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 animate-box">

                    <div class="fh5co-contact-info">
                        <h3>İletişim Bilgileri</h3>
                        <ul>
                            <li class="address">{{ setting[0].address }}</li>
                            <li class="phone">{{ setting[0].phone }}</li>
                            <li class="email"><a href="mailto:{{ setting[0].email }}">{{ setting[0].email }}</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-6 animate-box">
                    <h3>Bize İletin</h3>
                    {{ include('admin/messages.html.twig') }}
                    <form action="#" method="post">
                        <div class="row form-group">
                            <div class="col-md-6">
                                <!-- <label for="fname">First Name</label> -->
                                <input type="text" id="name" name="message[Name]" class="form-control" placeholder="Ad" maxlength="25">
                            </div>
                            <div class="col-md-6">
                                <!-- <label for="lname">Last Name</label> -->
                                <input type="text" id="surname" name="message[Surname]" class="form-control" placeholder="Soyad" maxlength="25">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <!-- <label for="email">Email</label> -->
                                <input type="text" id="phone" name="message[Phone]"  class="form-control" placeholder="Telefon Numarası" pattern="[0-9]{11}" maxlength="11">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <!-- <label for="subject">Subject</label> -->
                                <input type="text" id="subject" name="message[Subject]" class="form-control" placeholder="Mesajınızın Konusu" maxlength="20">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <!-- <label for="message">Message</label> -->
                                <textarea name="message[Messaggetext]" id="message" cols="30" rows="10" class="form-control" placeholder="Hakkımızda bir şeyler yazın..."></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="message[Status]" vaLue="0">
                        <input type="hidden" name="token" value="{{ csrf_token('form-message') }}">
                        <div class="form-group">
                            <input type="submit" value="Mesaj Gönder" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="map" class="animate-box" data-animate-effect="fadeIn"></div>

    <div id="fh5co-started">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Newsletter</h2>
                    <p>Just stay tune for our latest Product. Now you can subscribe</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-inline">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %} {% include 'home/_footer.html.twig' %}{% endblock %}
