{% extends 'base.html.twig' %}

{% block title %}{{ setting[0].title }} | Kayıt Ol{% endblock %}
{% block description %}{{ setting[0].description }}{% endblock %}
{% block keywords %}{{ setting[0].keywords }}{% endblock %}

{% block body %}
<body>

<div class="fh5co-loader"></div>

<div id="page">

    <div class="fh5co-loader"></div>

    <div id="page">
        <section class="jumbotron text-center">
            <div class="container">
                <h2 class="jumbotron-heading">Yeni Üyelik</h2>
            </div>
        </section>
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    {{ include('admin/messages.html.twig') }}
                    <div class="col-md-6 col-md-offset-3 animate-box">
                        <form method="post">
                        <h4>Hesap Bilgilerim</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">

                                    <div class="form-group row">
                                        <label for="username" class="col-4 col-form-label">E-Posta</label>
                                        <div class="col-8">
                                            <input type="email" name="users[EMail]" placeholder="E-posta Adresiniz" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control here" required="required" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Adı</label>
                                        <div class="col-8">
                                            <input id="name" name="users[Name]" placeholder="Adınız" class="form-control here" type="text" minlength="2" required="required" maxlength="20" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lastname" class="col-4 col-form-label">Soyadı</label>
                                        <div class="col-8">
                                            <input id="lastname" name="users[Surname]" placeholder="Soyadınız" class="form-control here" type="text" minlength="2" required="required" maxlength="20" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lastname" class="col-4 col-form-label">Şifre</label>
                                        <div class="col-8">
                                            <input type="password" name="users[Password]" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Şifreniz bir rakam, bir büyük harf ve bir küçük harf içermelidir, en az 8 karakter olmalıdır" class="form-control" placeholder="Şifreniz">
                                        </div>
                                    </div>
                            </div>
                        </div>
                            <br>
                            <h4>Adres Bilgilerim</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group row">
                                        <label for="username" class="col-4 col-form-label">Adres</label>
                                        <div class="col-8">
                                            <textarea class="form-control" name="address[Address]"  rows="3" placeholder="Adresiniz" id="inputAdress" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Telefon Numarası</label>
                                        <div class="col-8">
                                            <input id="name" name="address[Phone]" placeholder="Telefon Numaranız" class="form-control here" type="text" value="" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('register-auth') }}"/>
                            <input type="hidden" name="users[Status]" value="true"/>
                            <input type="hidden" name="users[Roles]" value="ROLE_USER"/>
                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                    <button name="submit" type="submit" class="btn btn-primary">Kayıt Ol</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>



{% endblock %}

{% block footer %} {% include 'home/_footer.html.twig' %}{% endblock %}
