{% extends 'base.html.twig' %}

{% block title %}OrdersDetail index{% endblock %}

{% block body %}
    <h1>OrdersDetail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OrderID</th>
                <th>ProductID</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orders_detail in orders_details %}
            <tr>
                <td>{{ orders_detail.id }}</td>
                <td>{{ orders_detail.OrderID }}</td>
                <td>{{ orders_detail.ProductID }}</td>
                <td>{{ orders_detail.Quantity }}</td>
                <td>
                    <a href="{{ path('orders_detail_show', {'id': orders_detail.id}) }}">show</a>
                    <a href="{{ path('orders_detail_edit', {'id': orders_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_detail_new') }}">Create new</a>
{% endblock %}
