{% extends 'adminbase.html.twig' %}

{% block title %}Nukro Shisha | Mesajlar{% endblock %}

{% block sidebar %} {% include 'admin/_sidebar.html.twig' %}{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        {{ include('admin/messages.html.twig') }}
                        <div class="box-header">
                            <h3 class="box-title">Mesajlar</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Telefon Numarası</th>
                                    <th>Konu</th>
                                    <th>Mesajı</th>
                                    <th>Durum</th>
                                    <th>Görüntüle</th>
                                </tr>
                                {% for message in messages %}
                                    <tr>
                                        <td>{{ message.id }}</td>
                                        <td>{{ message.Name }}</td>
                                        <td>{{ message.Surname }}</td>
                                        <td>{{ message.Phone }}</td>
                                        <td>{{ message.Subject }}</td>
                                        <td>{{ message.Messaggetext }}</td>
                                        <td>
                                            {% if message.Status == 0 %}
                                                <span class="label label-danger">Okunmadı</span>
                                            {% endif %}
                                            {% if message.Status == 1 %}
                                                <span class="label label-success">Okundu</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_message_show',{'id': message.id}) }}" rel="tooltip" title="Göster" class="btn btn-info btn-simple btn-xs"><i class="fa fa-check-circle"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">kayıt bulunamadı</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block footer %} {% include 'admin/_footer.html.twig' %}{% endblock %}
