<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="author" content="Süha Kopan" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Nukro Shisha"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="http://www.nukroshisha.com"/>
    <meta property="og:site_name" content="Nukro Shisha"/>
    <meta property="og:description" content="Nargilede Kalite ve Güven!"/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ asset('assets') }}/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ asset('assets') }}/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ asset('assets') }}/css/bootstrap.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="{{ asset('assets') }}/css/flexslider.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{{ asset('assets') }}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ asset('assets') }}/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ asset('assets') }}/css/style.css">

    <!-- Modernizr JS -->
    <script src="{{ asset('assets') }}/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets') }}/js/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div id="fh5co-logo"><a href="{{ url('home') }}">{{ setting[0].title }}</a></div>
                </div>
                <div class="col-md-6 col-xs-6 text-center menu-1">
                    <ul>
                        {% for cat in cats %}
                            {{ cat|raw }}
                        {% endfor %}
                        <li><a href="{{ url('about') }}">HAKKIMIZDA</a></li>
                        <li><a href="{{ url('contact') }}">İLETİŞİM</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ url('profile') }}">HESABIM</a></li>
                            <li><a href="{{ url('app_logout') }}">ÇIKIŞ YAP</a></li>
                        {% else %}
                            <li><a href="{{ url('new_user') }}">KAYIT OL</a></li>
                            <li><a href="{{ url('app_login') }}">GİRİŞ YAP</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                    <ul>
                        <li class="search">
                            <div class="input-group">
                                <input type="text" placeholder="Ara..">
                                <span class="input-group-btn">
						        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
						      </span>
                            </div>
                        </li>
                        <li class="shopping-cart"><a href="{{ url('shopcart_index') }}" class="cart"><span><small>0</small><i class="icon-shopping-cart"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</div>

{% block slider %} {% endblock %}

{% block body %} {% endblock %}

{% block footer %} {% endblock %}