{% extends 'adminbase.html.twig' %}

{% block title %}Nukro Shisha | Ürün Listesi{% endblock %}

{% block sidebar %} {% include 'admin/_sidebar.html.twig' %}{% endblock %}

{% block body %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    {{ include('admin/messages.html.twig') }}
                    <div class="box-header">
                        <h3 class="box-title">Ürün Listesi</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Başlık</th>
                                <th>Kategori</th>
                                <th>Açıklama</th>
                                <th>Adet</th>
                                <th>Fiyat</th>
                                <th>Resim</th>
                                <th>Durum</th>
                                <th>Göster</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                            {% for product in result %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.title }}</td>
                                    <td>{{ product.baslik}}</td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.amount }}</td>
                                    <td>{{ product.sprice }}</td>
                                    <td><img src="{{ asset('uploads') }}/images/{{ product.image }}" height="30" width="30"></td>
                                    <td><b>{{ product.status }}</b></td>
                                    <td><a href="{{ path('admin_product_show', {'id': product.id}) }}" class="btn btn-success  btn-xs" role="button">Göster</a></td>
                                    <td><a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning btn-xs" role="button">Düzenle</a></td>
                                    <td><a href="{{ path('admin_product_delete', {'id': product.id}) }}" onclick="return confirm('Kayıt silinecek emin misiniz?');" class="btn btn-danger  btn-xs" role="button">Sil</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="16">kayıt bulunamadı</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="box-footer">
                            <a href="{{ path('admin_product_new') }}" class="btn btn-primary btn-md active pull-right" role="button" aria-pressed="true">Yeni Kayıt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block footer %} {% include 'admin/_footer.html.twig' %}{% endblock %}